<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mock Server</title>
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/modal.css">


    <!--<style type="text/css">-->
    <!--table {border-collapse: collapse; font-size: 14px; width: 100%; margin: auto}-->
    <!--table, th, td {border: 1px solid darkslategray;padding: 10px}-->
    <!--</style>-->
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/mock/index" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="https://cf.jd.com/pages/viewpage.action?pageId=401986277" target="_blank" class="nav-link">Instruction</a>
            </li>
        </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/mock/index" class="brand-link">
            <img src="//img10.360buyimg.com/cms/jfs/t1/138282/12/17745/2637/5fd209bcE638c433f/ad2590d2a0cbf222.png" alt="Jshop Mock Server" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Mock Server</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="//img10.360buyimg.com/cms/jfs/t1/138282/12/17745/2637/5fd209bcE638c433f/ad2590d2a0cbf222.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Admin</a>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Configuration
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/mock/manage" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Mock Configuration</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/host/manage" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Host Configuration</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Mock Configuration</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Configuration List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Configuration List</h3>
                                <a href="javascript:void(0)" id="add_config_item" class="btn btn-primary" style="float: right;">Create</a>
                            </div>
                            <div class="card-body table-responsive p-0" style="height: 600px;">
                                <table class="table table-head-fixed text-nowrap">

                                    <tbody style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                                    <tr>
                                        <th>ID</th>
                                        <th>System Id</th>
                                        <th>Request Uri</th>
                                        <th>Method</th>
                                        <th>Http Code</th>
                                        <th>Response Json</th>
                                        <th>Modify Time</th>
                                        <th>Create Time</th>
                                        <th>Status</th>
                                        <th>Process</th>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr th:each="item : ${list}">
                                        <td th:text="${item.id}"></td>
                                        <td th:text="${item.system}"></td>
                                        <td th:text="${item.uri}"></td>
                                        <td th:text="${item.methodType}"></td>
                                        <td th:text="${item.statusCode}"></td>
                                        <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 100px;" th:text="${item.response}"></td>
                                        <td th:text="${item.gmtModify}"></td>
                                        <td th:text="${item.gmtCreate}"></td>
                                        <td th:if="${item.state} eq 1" style="font-weight: bold; color: green;" >Enable</td>
                                        <td th:unless="${item.state} eq 1" style="font-weight: bold; color: red;">Disable</td>
                                        <td>
                                            <a href="javascript:void(0)" class="btn btn-primary update_config_item" th:value="${item.id}">Update</a>
                                            <a href="javascript:void(0)" class="btn btn-primary delete_config_item" th:value="${item.id}">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020-2021 <a href="https://mock-server.jd.com">Mock Server</a>.</strong> All rights reserved.
    </footer>

</div>

</div>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/adminlte.min.js"></script>
<script src="/js/jquery-1.7.2.js"></script>
<script src="/js/modal.js"></script>
<script language="javascript">
    (function(j){
        $('.update_config_item').click(function(){
            var data = {
                id : $(this).attr('value')
            };
            jQuery.ajax({
                type : "GET",
                url : "/mock/update",
                data : data,
                success : function (result) {
                    var mModal1 = new mModal({
                        content: result,
                        title: "Edit Configuration",
                        confirm: function () {
                            var data = $("#form1").serialize();
                            jQuery.ajax({
                                type : "GET",
                                url : "/mock/doUpdate",
                                data : data,
                                success : function (result) {
                                    // if (result.success) {
                                    //     alert("Process success");
                                    // } else {
                                    //     alert("Process failed");
                                    // }
                                    alert("Process success");
                                    window.location.reload();
                                }
                            });

                            mModal1.close();
                        },
                        cancel: function () {
                        }
                    });
                    mModal1.renderDom();
                },
            });
        });

        $('#add_config_item').click(function(){
            var data = {};
            jQuery.ajax({
                type : "GET",
                url : "/mock/update",
                data : data,
                success : function (result) {
                    var mModal1 = new mModal({
                        content: result,
                        title: "Create Configuration",
                        confirm: function () {
                            var data = $("#form1").serialize();
                            jQuery.ajax({
                                type : "GET",
                                url : "/mock/doAdd",
                                data : data,
                                success : function (result) {
                                    // if (result.success) {
                                    //     alert("Process success");
                                    // } else {
                                    //     alert("Process failed");
                                    // }
                                    alert("Process success");
                                    window.location.reload();
                                }
                            });
                            mModal1.close();
                        },
                        cancel: function () {
                        }
                    });
                    mModal1.renderDom();
                }
            });
        });

        $('.delete_config_item').click(function(){
            var data = {
                id : $(this).attr('value')
            };
            jQuery.ajax({
                type : "GET",
                url : "/mock/doDelete",
                data: data,
                success : function (result) {
                    var mModal1 = new mModal({
                        content: "Delete Successfully",
                        title: "Delete Configuration",
                        confirm: function () {
                            mModal1.close();
                            window.location.reload();
                        },
                        cancel: function () {
                        }
                    });
                    mModal1.renderDom();
                }
            });
        });

    })(jQuery);
</script>

</body>
</html>
